@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-purple: #9333EA;
  --color-bg-black: #131A29;
  --color-grey: #CCC3DB;
}

html,
body {
  @apply bg-white dark:bg-bg-black;

  h1{
    @apply text-3xl font-semibold text-center;
  }

  p, label{
    @apply text-stone-400;
  }

  .container{
    @apply p-4;
  }

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
